.wrap {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    z-index: -1;
    background: url(bg.jpg) no-repeat;
    background-size: cover;
    background-color: #000;
}
.background {
    position: relative;
    width: 100%;
}
